.home {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section_column {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 24px;
}

.section_column h1,
.section_column p {
	margin: 0;
}

.section_row {
	align-items: center;
	display: flex;
	justify-content: center;
}

.button {
	font-size: 24px;
	margin-left: 12px;
	padding: 12px;
}