.navbar {
    background: rgb(6,3,57);
    background: linear-gradient(180deg, rgba(6,3,57,1) 0%, rgba(28,64,71,1) 100%);
   color: white;
   display: flex;
   flex-direction: column;
}
.carrito{
  display: flex;
  flex-direction: row;
  
}
.icon-font{
  padding: 0 0 5px 0;
  margin: 0 5px;
}
.iconos{
  width: 28%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
.titulo-marca{
  text-decoration: none;
  color: white;
}
nav h2{
  text-align: center;
  padding: 6px 0px 4px 0px;
  letter-spacing: 3px;
}
.navbar-container {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: center;
    gap:5%;
    font-weight: bolder;
    width: 70%;
}

.carrito li{
    list-style: none;
    margin: 0 10px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}
.categoria-activa{
  color:white;
}

.stroke ul li a{
  position: relative;
}
nav.stroke ul li a::after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
}
nav.stroke ul li a:hover::after {
  width: 100%;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: white;
}
nav ul li a {
  
  padding: 10px;
  text-decoration: none;
  color: rgb(202, 202, 202);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

.openMenu{
  font-size: 20px;
  margin: 20px;
  display: none;
  cursor: pointer;
}
.closeMenu{
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media(max-width: 1100px){
  .navbar{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .carrito{
    display: none;
  }
  .openMenu{
    display: unset;
  }
  .navbar h2{
    margin-left: 4%;
    text-align: left;
  }
  .carritoAbierto{
    height: 100vh;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 5s ease;
    background-color: #000;
  }
  .closeMenu{
    display: block;
    position: absolute;
    top:20px;
    right: 20px;
    transition: top 5s ease;
  }
  .navbar-container{
    display: flex;
    flex-direction: column;
    
  }
  .navbar-container li{
    margin-bottom: 5vh;
  }
  .iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4vh;
    align-items: center;
    gap: 20%;
  }

 

}
